@mixin qnd-advantages-li-desktop {
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@mixin qnd-advantages-li-tablet {
  &:nth-of-type(2n + 1) {
    min-height: 232px;
  }
}

@mixin qnd-advantages-li-mobile {
  &:nth-of-type(n) {
    margin-bottom: 20px;
  }

  &:nth-of-type(2) {
    padding-right: 8px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin qnd-advantages-h3-nth3-mobile {
  .advantages li:nth-of-type(3) h3 {
    @media (max-width: $max-mobile-width) {
      margin-bottom: -8px;
    }
  }
}

@mixin qnd-services-li-desktop {
  &:not(:nth-of-type(3n)) {
    margin-right: 30px;
  }

  @media (max-width: $desktop-width + 365) {
    &:nth-of-type(4n) {
      margin-left: 30px;
    }
  }
}

@mixin qnd-services-li-tablet {
  &:not(:nth-of-type(3n)) {
    margin-right: 0;
  }

  &:nth-of-type(4n) {
    margin-left: 0;
  }
}
