.about-us {
  padding-left: 177px;
  padding-right: 10px;
  padding-bottom: 50px;

  color: $dark-grey;

  background-image: url("../../img/2005@1x.png");
  background-position: -29px 5px;
  background-size: 220px 319px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi) {
    background-image: url("../../img/2005@2x.png");
  }

  @media (max-width: $max-tablet-width) {
    padding-left: 182px;
    padding-right: 0;
    padding-bottom: 23px;

    background-image: url("../../img/2005-tablet@1x.png");
    background-position: -25px 0;
    background-size: 243px 359px;

    @media (min-resolution: $retina-dpi) {
      background-image: url("../../img/2005-tablet@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 0;
    padding-bottom: 0;

    background-image: none;
  }
}

.about-us h2:first-child {
  margin: 0;
  margin-bottom: 21px;
  padding-left: 3px;

  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 24px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 20px;

    font-size: 28px;
    line-height: 39px;
  }
}

.about-us p {
  margin: 0;
  margin-bottom: 21px;
  padding-left: 3px;

  @media (max-width: $max-tablet-width) {
    padding-left: 6px;

    &:last-of-type {
      margin-bottom: 41px;
    }
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 42px;
    padding-left: 3px;

    &:last-of-type {
      margin-bottom: 27px;
    }
  }
}

.about-us__details-button {
  padding: 14px 50px;
  margin-top: 16px;
  margin-left: 3px;

  color: $light-blue;

  border-color: $light-blue;

  @media (max-width: $max-tablet-width) {
    margin: 0;
    margin-left: 6px;
    padding: 15px 50px 12px 50px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0;
  }
}
