.advantages {
  margin-bottom: 105px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 56px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 58px;
  }
}

.advantages ul {
  @include no-list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.advantages li {
  position: relative;

  min-height: 299px;
  width: 48.7%;
  margin-bottom: 30px;
  padding: 40px 35px 40px 45px;

  background-color: $white;
  border: 1px solid $lightest-grey;
  border-left: none;

  @include qnd-advantages-li-desktop;

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  & svg {
    fill: $light-blue;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 3px;
    height: 100%;
    background-color: $light-blue;

    @media (max-width: $max-tablet-width) {
      width: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    &:hover {
      background-color: $light-blue;
      cursor: pointer;

      & p {
        color: $white;
      }

      & h3 {
        color: $white;
      }

      & svg {
        fill: $white;
      }
    }
  }

  @media (max-width: $max-tablet-width) {
    min-height: auto;
    width: 48%;
    padding: 21px 21px 20px 27px;

    @include qnd-advantages-li-tablet;
  }

  @media (max-width: $max-mobile-width) {
    width: auto;
    padding: 22px 21px 24px 25px;

    @include qnd-advantages-li-mobile;
  }
}

.advantages h3 {
  margin: 0;
  margin-bottom: 14px;

  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $light-blue;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 8px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 11px;

    font-size: 20px;
    line-height: 28px;
  }
}

.advantages p {
  margin: 0;

  color: $dark-grey;
  font-style: normal;
  font-weight: normal;
}

.advantages svg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 10px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 12px;
  }
}

@include qnd-advantages-h3-nth3-mobile;
