.container {
  width: 100%;
  max-width: $max-desktop-width;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: $max-tablet-width) {
    padding: 0 25px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0 15px 0 18px;
  }
}
