.container {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 15px 0 18px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 25px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 0 253px;
  }
}
