.facts-and-information {
  padding-left: 177px;
  padding-right: 10px;
  padding-bottom: 50px;

  color: $dark-grey;

  background-image: url("../../img/2005@1x.png");
  background-position: -25px 0;
  background-size: 220px 363px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi) {
    background-image: url("../../img/2005@2x.png");
  }

  @media (max-width: $max-tablet-width) {
    padding-left: 191px;
    padding-right: 0;
    padding-bottom: 23px;

    background-image: url("../../img/2005-tablet@1x.png");
    background-position: -25px 0;
    background-size: 251px 361px;

    @media (min-resolution: $retina-dpi) {
      background-image: url("../../img/2005-tablet@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 0;
    padding-bottom: 0;

    background-image: none;
  }
}

.facts-and-information h2 {
  margin: 0;
  margin-bottom: 21px;

  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 24px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 20px;

    font-size: 28px;
    line-height: 39px;
  }
}

.facts-and-information p {
  margin: 0;
  margin-bottom: 21px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 42px;

    &:last-of-type {
      margin-bottom: 31px;
    }
  }
}

.facts-and-information__details-button {
  padding: 15px 51px;
  margin-top: 19px;

  color: $light-blue;

  border-color: $light-blue;

  @media (max-width: $max-tablet-width) {
    margin-top: 22px;
    padding: 15px 50px 14px 50px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 0;
  }
}
