.feedback {
  background-color: $light-blue;
  background-image: url("../../img/paper-plane@1x.png"), url("../../img/triangles-header-desktop.svg"), url("../../img/triangle-feedback-small.svg"), url("../../img/triangle-feedback-big.svg");
  background-position: top 42.3% left 24.8%, top 51.5% left 15%, top 19.7% right 5.8%, top 84% right -4.7%;
  background-size: 511px 288px, auto, auto, auto;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi) {
    background-image: url("../../img/paper-plane@2x.png"), url("../../img/triangles-header-desktop.svg");
  }

  & p,
  input,
  textarea,
  span {
    font-family: $pt-mono-monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  @media (max-width: $max-tablet-width) {
    background-image: none;
  }
}

.feedback__form {
  display: flex;
  justify-content: flex-end;
  max-width: 1390px;
  margin: 0 auto;
  padding: 91px 111px 113px;

  @media (max-width: $max-tablet-width) {
    justify-content: center;
    padding: 80px 87px 103px 89px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 30px 15px 41px;
  }
}

.feedback form {
  width: 570px;

  @media (max-width: $max-tablet-width) {
    width: auto;
  }

  @media (max-width: $max-mobile-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
}

.feedback p {
  margin: 0;

  &:first-child {
    margin-bottom: 10px;

    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;

    @media (max-width: $max-tablet-width) {
      margin-bottom: 16px;

      font-size: 32px;
      line-height: 45px;
    }

    @media (max-width: $max-mobile-width) {
      margin-bottom: 13px;

      font-size: 28px;
      line-height: 39px;
    }
  }

  &:last-child {
    @media (max-width: $max-tablet-width) {
      padding-left: 4px;
    }

    @media (max-width: $max-mobile-width) {
      padding: 0;
    }
  }
}

.feedback input {
  @include no-input-style;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 50px;
  padding-left: 16px;

  &::placeholder {
    color: $white;
  }

  @media (max-width: $max-tablet-width) {
    width: 100%;
  }

  @media (max-width: $max-mobile-width) {
    height: 52px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      @include shadow-on-hover;
    }

    &:focus {
      @include shadow-on-focus;
    }
  }
}

.feedback label:not([for="admission"]) {
  @include visually-hidden;
}

.feedback__form-title {
  margin-bottom: 50px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 55px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 26px;
  }
}

.feedback__form-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;

  @media (max-width: $max-tablet-width) {
    padding-left: 3px;

    & div {
      width: 47.3%;
    }
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    margin-bottom: 30px;

    & div {
      width: 100%;
    }

    & div:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.feedback__form-question {
  margin-bottom: 37px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 39px;
    padding-left: 3px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 24px;
  }
}

.feedback__form-question textarea {
  @include no-input-style;
  padding: 16px;
  padding-top: 11px;
  min-width: 100%;
  height: 154px;

  resize: none;

  &::placeholder {
    color: $white;
  }

  @media (max-width: $max-tablet-width) {
    height: 160px;
  }

  @media (max-width: $max-mobile-width) {
    height: 104px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      @include shadow-on-hover;
    }

    &:focus {
      @include shadow-on-focus;
    }
  }
}

.feedback__form-admission {
  display: flex;

  & div {
    display: flex;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.feedback__form-admission button {
  flex-shrink: 0;
  padding: 15px 79px 12px;

  @media (max-width: $max-tablet-width) {
    padding: 16px 85px 13px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 31px;
  }
}

.feedback__form-admission input {
  @include visually-hidden;
}

.feedback__form-admission label {
  display: flex;
  align-items: flex-start;
  margin-left: 38px;
  padding-top: 10px;

  font-size: 14px;
  line-height: 16px;
  color: $white-transparent-80;

  @media (max-width: $max-tablet-width) {
    margin-left: 39px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      cursor: pointer;

      @include opacity-on-hover;
    }
  }
}

.feedback__form-admission label::before {
  content: "";
  display: block;

  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 15px;

  border: 1px solid $white;
  background-repeat: no-repeat;
  background-position: 3px 4px;
  background-size: 9px 6px;

  @media (max-width: $max-tablet-width) {
    margin-right: 16px;
  }

  @media (max-width: $max-tablet-width) {
    margin-right: 20px;
  }
}

.feedback__form-admission input:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 6'%3e%3cpath fill='none' d='M0.5 2L3.5 5L8 0.5' stroke='white'/%3e%3c/svg%3e");
}
