.page-footer {
  position: relative;

  font-family: $pt-mono-monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $blue-grey;

  background-color: $milky-white;

  & ul {
    padding: 0;
    margin: 0;

    @media (max-width: $max-mobile-width) {
      padding-right: 2px;
    }
  }

  & li {
    @include no-list-style;
    opacity: 0.5;
  }

  & a {
    color: $blue-grey;

    @media (min-width: $desktop-width) {
      &:hover {
        @include opacity-on-hover;
      }
    }
  }

  & h3 {
    margin: 0 2px 26px;

    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.page-footer__top-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 57px;
  margin-bottom: 1px;

  @media (max-width: $max-tablet-width) {
    flex-direction: column;
    align-items: stretch;
    padding: 19px 0 34px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0;
    padding-top: 46px;
  }
}

.page-footer__social {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  max-width: 216px;

  @media (max-width: $max-tablet-width) {
    margin: 0;
    padding: 0 25px;
    flex-direction: row;
    max-width: unset;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0 15px 0 18px;
    flex-direction: column;
  }
}

.page-footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 55px;

  @media (max-width: $max-tablet-width) {
    margin: 0;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 81px;
  }
}

.page-footer__general-info {
  display: flex;
  width: 100%;
  max-width: 990px;
  margin-left: 2%;

  @media (max-width: $max-tablet-width) {
    margin: 0;
    margin-top: 25px;
    padding: 38px 25px 0;
    justify-content: space-between;

    border-top: 1px solid $darker-grey-transparent;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 54px;
    padding: 0;
    flex-direction: column;
  }
}

.page-footer__navigation {
  width: 55.1%;

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: $max-tablet-width) {
      flex-direction: column;
      flex-wrap: nowrap;
      height: fit-content;
    }
  }

  @media (max-width: $max-tablet-width) {
    width: auto;
  }

  @media (max-width: $max-mobile-width) {
    padding: 28px 16px 28px 15px;
    min-width: 100%;

    & h3 {
      margin: 0;
    }

    &--closed {
      padding-bottom: 0;

      & ul {
        display: none;
      }
    }
  }
}

.page-footer__navigation li {
  width: 235px;

  &:nth-child(2) {
    order: 2;
  }

  &:nth-child(3) {
    order: 4;
  }

  &:nth-child(4) {
    order: 6;
  }

  &:nth-child(5) {
    order: 1;
  }

  &:nth-child(6) {
    order: 3;
  }

  &:nth-child(7) {
    order: 5;
  }

  @media (max-width: $max-tablet-width) {
    &:nth-child(n) {
      order: unset;
    }
  }
}

.page-footer__navigation-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 29px;
  }
}

.page-footer__contacts {
  margin-left: auto;

  @media (max-width: $max-tablet-width) {
    margin-right: 10px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0;
    padding: 27px 15px 26px 16px;
    min-width: 100%;

    border-top: 1px solid $darker-grey-transparent;

    & h3 {
      margin: 0;
    }

    &--closed {
      padding-bottom: 0;

      & .page-footer__contacts-list {
        display: none;
      }
    }
  }
}

.page-footer__contacts-list {
  opacity: 0.5;

  @media (max-width: $max-mobile-width) {
    padding-right: 2px;
  }

  & address {
    font-style: normal;
  }

  & a {
    display: block;
  }
}

.page-footer__contacts-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 31px;
  }
}

.page-footer__bottom-container-outer {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 14px;
  border-top: 1px solid $darker-grey-transparent;

  @media (max-width: $max-tablet-width) {
    padding-top: 21px;
    padding-bottom: 24px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 28px;
    padding-bottom: 26px;
  }
}

.page-footer__bottom-container-inner {
  display: flex;
  align-items: center;

  font-family: $pt-mono-monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  opacity: 0.5;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 457px;

  @media (max-width: $max-tablet-width) {
    min-width: auto;
  }
}

.page-footer__copyright-slogan {
  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.page-footer__copyright-owner {
  @media (max-width: $max-tablet-width) {
    position: absolute;
    top: 36px;
    left: 58%;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  @media (max-width: $max-mobile-width) {
    display: block;
    min-width: 233px;
    top: 124px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.page-footer__other-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 144px;

  @media (max-width: $max-tablet-width) {
    margin: 0;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;

    & span:nth-of-type(n + 1) {
      margin-bottom: 20px;
    }

    & span:last-of-type {
      margin: 0;
    }
  }
}
