.services {
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: normal;

  background-color: $blue-grey;
}

.services__inner {
  max-width: 1390px;
  margin: 0 auto;
  padding: 88px 110px 103px;

  @media (max-width: $max-tablet-width) {
    padding: 50px 25px 78px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 50px 15px 64px;
  }
}

.services h2 {
  margin: 0;
  margin-bottom: 51px;

  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 49px;
    padding-right: 100px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0;
    padding-left: 10px;
    margin-bottom: 42px;

    font-size: 28px;
    line-height: 39px;
  }
}

.services ul {
  @include no-list-style;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $max-tablet-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
  }
}

.services li {
  position: relative;

  display: flex;
  width: 370px;
  height: 620px;
  margin-bottom: 24px;

  &:not(:nth-of-type(3n)) {
    margin-right: 30px;
  }

  @media (min-width: $desktop-width + 364) {
    &:nth-of-type(4n) {
      margin-left: 30px;
    }
  }

  @media (max-width: $max-tablet-width) {
    margin-bottom: 46px;
    width: 720px;
    height: 256px;

    &:not(:nth-of-type(3n)) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 30px;
    width: 290px;
    height: 256px;
  }
}

.services a {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    &:hover {
      @include opacity-on-hover;
    }
  }
}

.services img {
  width: 370px;
  height: 620px;

  @media (max-width: $max-tablet-width) {
    width: 720px;
    height: 256px;
  }

  @media (max-width: $max-mobile-width) {
    width: 290px;
    height: 256px;
  }
}

.services svg {
  fill: none;
}

.services__inner div {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;

  background-color: $light-blue;
}

.services p {
  position: absolute;
  top: 50px;
  left: 44px;

  margin: 0;

  font-size: 20px;
  line-height: 30px;
  color: $white;

  @media (max-width: $max-tablet-width) {
    top: 40px;
  }

  @media (max-width: $max-mobile-width) {
    top: 20px;
    left: 34px;
  }
}
