$white: hsla(0, 0%, 100%, 100%);
$milky-white: hsla(0, 0%, 98%, 100%);
$black: hsla(0, 0%, 0%, 100%);
$lightest-grey: hsla(0, 0%, 92%, 100%);
$light-grey: hsla(0, 0%, 95%, 100%);
$grey: hsla(0, 0%, 80%, 100%);
$dark-grey: hsla(0, 0%, 40%, 100%);
$darker-grey-transparent: rgba(99, 105, 99, 0.2);
$light-blue-grey: hsla(201, 10%, 52%, 100%);
$blue-grey: hsla(201, 34%, 16%, 100%);
$light-blue: hsla(198, 100%, 50%, 100%);
$dark-blue: hsla(191, 34%, 19%, 100%);
$transparent: hsla(0, 0%, 100%, 0%);
