$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$max-desktop-width: 1510px;
$retina-dpi: 144dpi;

$roboto-condensed: "Roboto Condensed", sans-serif;
$pt-mono-monospace: "PT Mono", monospace;

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin button-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  background-color: $transparent;
  border: 1px solid $white;
  border-radius: 5px;
}

@mixin no-list-style {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin no-button-style {
  padding: 0;

  font-size: 0;
  color: inherit;

  background: none;
  outline: inherit;
  border: none;

  cursor: pointer;
}

@mixin no-input-style {
  padding: 0;

  color: $white;

  background-color: $white-transparent;
  border: none;

  &:focus {
    outline: none;
  }
}
